.navbar>a {
  display: inline-block;
  justify-content: center;
  box-sizing: border-box;
  width: 80px;
  padding: 5px;
  margin: 0 6px 6px;
  background: rgb(117, 112, 112);
  text-decoration: none;
  text-align: center;
  font-size: min(10vw, 15px);
  color: black;
}
.navbar {
  display: flex;
  justify-content: center;
}
a.active {
  background: rgb(0, 0, 0);
  color: rgb(216, 235, 51);
}
body {
  background-image: url('./Images/peacefulImg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}